/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

 body {
   background-image: url('E:\Management-System\Hotel Management System\project\src\assets\taj-lakefront-bhopal-lead.webp');  
   background-size: cover;
   
   background-repeat: no-repeat;
 } 
  