<div class="registration-container">
    <h2 style="color: white;">Registration</h2>
    <br>
    <form  >

      <div class="form-group">
        <label for="fullName">Full Name</label>
        <input type="text" id="fullName" name="fullName"   required>
      </div>

      <div class="form-group">
        <label for="fullName">Mobile Number</label>
        <input type="text" id="mobilenumber" name="mobilenumber"   required>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email"   required>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password"  required>
      </div>

      <button type="submit">Register</button>

    </form>
  </div>
  
