<div class="profile-container">
    <h2>Profile</h2>
    <div class="profile-info">

      <div class="profile-item">
        <span class="profile-label">Username:</span>
        <span class="profile-value">{{ username }}</span>
      </div>

      <div class="profile-item">
        <span class="profile-label">Email:</span>
        <span class="profile-value">{{ email }}</span>
      </div>

      <div class="profile-item">
        <span class="profile-label">Mobile Number:</span>
        <span class="profile-value">{{ mobilenumber }}</span>
      </div>

      <div class="profile-item">
        <span class="profile-label">My Bookings:</span>
        <span class="profile-value">{{ mybookings }}</span>
      </div>

      <!-- <div class="profile-item">
        <span class="profile-label">:</span>
        <span class="profile-value">{{  }}</span>
      </div> -->

    </div>
  </div>
  
